openapi: 3.0.3
info:
  title: Yemen Mandi API
  version: 1.0.0
  description: |
    REST API for Yemen Mandi food delivery platform.
    Covers auth, user profile, catalog, cart, customer orders, and admin management.
servers:
  - url: https://api.yemenmandi.com/v1
    description: Production
  - url: http://localhost:3000/v1
    description: Local

tags:
  - name: Auth
  - name: User
  - name: Products
  - name: Cart
  - name: Orders
  - name: Admin

paths:
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '409':
          $ref: '#/components/responses/Conflict'

  /auth/login:
    post:
      tags: [Auth]
      summary: Login with phone/email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/otp:
    post:
      tags: [Auth]
      summary: Verify OTP code for phone/email authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtpRequest'
      responses:
        '200':
          description: OTP verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /user/profile:
    get:
      tags: [User]
      summary: Get current user profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profile details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags: [User]
      summary: Update current user profile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /products:
    get:
      tags: [Products]
      summary: List products
      parameters:
        - in: query
          name: category_id
          schema: { type: integer, format: int64 }
        - in: query
          name: is_available
          schema: { type: boolean }
        - in: query
          name: q
          description: Search by Arabic/English product name
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: page_size
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        '200':
          description: Product list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /products/{id}:
    get:
      tags: [Products]
      summary: Get product details
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '200':
          description: Product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetails'
        '404':
          $ref: '#/components/responses/NotFound'

  /categories:
    get:
      tags: [Products]
      summary: List categories
      responses:
        '200':
          description: Category list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'

  /cart/add:
    post:
      tags: [Cart]
      summary: Add item to cart
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartAddRequest'
      responses:
        '200':
          description: Item added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'

  /cart/remove:
    post:
      tags: [Cart]
      summary: Remove item from cart
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartRemoveRequest'
      responses:
        '200':
          description: Item removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'

  /cart:
    get:
      tags: [Cart]
      summary: Get current cart
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cart details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'

  /orders:
    post:
      tags: [Orders]
      summary: Place a new order from cart (validates availability & stock)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '409':
          description: Product unavailable or insufficient stock
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryConflictError'
    get:
      tags: [Orders]
      summary: List my orders
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            $ref: '#/components/schemas/OrderStatus'
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: page_size
          schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
      responses:
        '200':
          description: Orders list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /orders/{id}:
    get:
      tags: [Orders]
      summary: Get my order details
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/login:
    post:
      tags: [Admin]
      summary: Admin login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminLoginRequest'
      responses:
        '200':
          description: Admin authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /admin/products:
    post:
      tags: [Admin]
      summary: Create product
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateProductRequest'
      responses:
        '201':
          description: Product created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'

  /admin/products/{id}:
    put:
      tags: [Admin]
      summary: Update product
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUpdateProductRequest'
      responses:
        '200':
          description: Product updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
    delete:
      tags: [Admin]
      summary: Delete product
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '204':
          description: Product deleted

  /admin/products/{id}/availability:
    patch:
      tags: [Admin]
      summary: Toggle product availability
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [is_available]
              properties:
                is_available:
                  type: boolean
      responses:
        '200':
          description: Availability updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'

  /admin/dashboard:
    get:
      tags: [Admin]
      summary: Dashboard KPIs (orders + revenue)
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Dashboard metrics snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDashboard'

  /admin/orders:
    get:
      tags: [Admin]
      summary: List all orders for operations dashboard (live)
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            $ref: '#/components/schemas/OrderStatus'
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: page_size
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        '200':
          description: Order list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /admin/orders/{id}/status:
    patch:
      tags: [Admin]
      summary: Update order status
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  $ref: '#/components/schemas/OrderStatus'
      responses:
        '200':
          description: Order status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdPathParam:
      in: path
      name: id
      required: true
      schema:
        type: integer
        format: int64

  responses:
    BadRequest:
      description: Invalid input
    Unauthorized:
      description: Authentication required or invalid credentials
    NotFound:
      description: Resource not found
    Conflict:
      description: Resource already exists

  schemas:
    OrderStatus:
      type: string
      enum: [pending, confirmed, preparing, out_for_delivery, delivered, cancelled]

    Pagination:
      type: object
      properties:
        page: { type: integer }
        page_size: { type: integer }
        total_items: { type: integer }
        total_pages: { type: integer }

    RegisterRequest:
      type: object
      required: [name, phone, email, password, language]
      properties:
        name: { type: string, maxLength: 120 }
        phone: { type: string, maxLength: 20 }
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
        language: { type: string, enum: [ar, en] }

    LoginRequest:
      type: object
      required: [login, password]
      properties:
        login:
          type: string
          description: Phone or email
        password: { type: string }

    OtpRequest:
      type: object
      required: [phone, code]
      properties:
        phone: { type: string }
        code: { type: string, minLength: 4, maxLength: 8 }

    AuthResponse:
      type: object
      properties:
        access_token: { type: string }
        refresh_token: { type: string }
        token_type: { type: string, example: Bearer }
        expires_in: { type: integer, example: 3600 }

    UserProfile:
      type: object
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        phone: { type: string }
        email: { type: string, format: email }
        language: { type: string, enum: [ar, en] }
        created_at: { type: string, format: date-time }

    UpdateProfileRequest:
      type: object
      properties:
        name: { type: string, maxLength: 120 }
        language: { type: string, enum: [ar, en] }

    Category:
      type: object
      properties:
        id: { type: integer, format: int64 }
        name_ar: { type: string }
        name_en: { type: string }
        image: { type: string }

    ProductOption:
      type: object
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        price: { type: number, format: double }

    Product:
      type: object
      properties:
        id: { type: integer, format: int64 }
        name_ar: { type: string }
        name_en: { type: string }
        description: { type: string }
        price: { type: number, format: double }
        image: { type: string }
        category_id: { type: integer, format: int64 }
        is_available: { type: boolean }
        stock: { type: integer }

    ProductDetails:
      allOf:
        - $ref: '#/components/schemas/Product'
        - type: object
          properties:
            options:
              type: array
              items:
                $ref: '#/components/schemas/ProductOption'

    CartAddRequest:
      type: object
      required: [product_id, quantity]
      properties:
        product_id: { type: integer, format: int64 }
        quantity: { type: integer, minimum: 1 }
        product_option_ids:
          type: array
          items: { type: integer, format: int64 }

    CartRemoveRequest:
      type: object
      required: [product_id]
      properties:
        product_id: { type: integer, format: int64 }
        product_option_ids:
          type: array
          items: { type: integer, format: int64 }

    CartItem:
      type: object
      properties:
        product_id: { type: integer, format: int64 }
        quantity: { type: integer }
        unit_price: { type: number, format: double }
        line_total: { type: number, format: double }

    Cart:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        subtotal: { type: number, format: double }
        delivery_fee: { type: number, format: double }
        tax: { type: number, format: double }
        total: { type: number, format: double }

    CreateOrderRequest:
      type: object
      required: [address_id, payment_method]
      properties:
        address_id: { type: integer, format: int64 }
        payment_method:
          type: string
          enum: [cash, card, wallet, apple_pay, google_pay]

    OrderItem:
      type: object
      properties:
        product_id: { type: integer, format: int64 }
        quantity: { type: integer }
        price: { type: number, format: double }

    Order:
      type: object
      properties:
        id: { type: integer, format: int64 }
        user_id: { type: integer, format: int64 }
        total_price: { type: number, format: double }
        status:
          $ref: '#/components/schemas/OrderStatus'
        address_id: { type: integer, format: int64 }
        payment_method:
          type: string
          enum: [cash, card, wallet, apple_pay, google_pay]
        created_at: { type: string, format: date-time }
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'

    InventoryConflictError:
      type: object
      properties:
        code: { type: string, example: INVENTORY_CONFLICT }
        message: { type: string, example: Product unavailable or insufficient stock }
        conflicts:
          type: array
          items:
            type: object
            properties:
              product_id: { type: integer, format: int64 }
              available_stock: { type: integer }
              requested_quantity: { type: integer }
              is_available: { type: boolean }

    AdminDashboard:
      type: object
      properties:
        total_orders: { type: integer }
        total_revenue: { type: number, format: double }
        pending_orders: { type: integer }
        preparing_orders: { type: integer }
        out_for_delivery_orders: { type: integer }
        delivered_orders: { type: integer }
        cancelled_orders: { type: integer }
        average_order_value: { type: number, format: double }

    AdminLoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    AdminCreateProductRequest:
      type: object
      required: [name_ar, name_en, price, category_id]
      properties:
        name_ar: { type: string }
        name_en: { type: string }
        description: { type: string }
        price: { type: number, format: double, minimum: 0 }
        image: { type: string }
        category_id: { type: integer, format: int64 }
        is_available: { type: boolean, default: true }
        stock: { type: integer, minimum: 0, default: 0 }

    AdminUpdateProductRequest:
      allOf:
        - $ref: '#/components/schemas/AdminCreateProductRequest'


x-implementation-notes:
  availability_system:
    - On order creation, validate each product is_available=true.
    - Validate requested quantity <= (stock - reserved_stock).
    - Optional inventory lock can reserve stock for a short TTL during checkout.
  admin_portal:
    - Include dashboard KPIs (orders + revenue).
    - Support instant product availability updates.
    - Support live order queue updates via Socket/Firebase channels.
  recommended_stack:
    mobile: [Flutter, React Native]
    backend: Node.js (NestJS)
    database: PostgreSQL
    realtime: [Firebase, Socket.IO]
